main {
    margin-top: -50px;
    width: 90%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    justify-content: center;

    h1 {
        color: #ff4848;
    }

    .container_estatisticas {
        display: flex;
        width: 50%;
        height: 300px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 30px;

        .estatistica_usuarios,
        .estatistica_admins {
            width: 45%;
            height: auto;
            text-decoration: none;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #3d3d3d6c;
            color: white;
            padding: 50px 0px 50px;
            text-align: center;

            ul {
                text-decoration: none;
                list-style-type: none;
                font-size: 20px;
            }

            h2 {
                margin-bottom: 20px;

            }

            p {
                font-size: 28px;
            }







        }

    }
}