* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


.cabecalho {
    width: 100%;
    display: flex;
    height: 200px;
    justify-content: center;
    flex-direction: row;
    align-items: center;

    .links {
        display: flex;
        width: 60%;
        height: 100px;
        background: linear-gradient(50deg, #d71717, #300cff);
        justify-content: center;
        align-items: center;
        border-radius: 20px;

        div {
            display: flex;
            gap: 20px;
        }

        a {
            z-index: 1;
            color: white;
            font-size: 20px;
            font-weight: 600;
            text-decoration: none;
            border-radius: 20px;
            padding: 10px 20px;
            transition: all 0.5s ease;

            &:hover {
                background-color: #141e30b2;
                box-shadow: 0 0 10px rgb(141, 141, 141);
            }
        }

        button {
            padding: 10px 25px;
            border-radius: 20px;
            border: none;
            background-color: #141e30b2;
            color: white;
            font-size: 15px;
            font-weight: 800;
            cursor: pointer;


        }

        .sair {
            transition: all 0.5s ease;
            

            &:hover {
                background-color: #e03838;
                box-shadow: 0 0 10px rgb(141, 141, 141);
            }

        }

    }
}